/* Reset CSS */
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
body {
    margin: 0;
  
}
  
main {
    display: block;

}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
box-sizing: content-box; /* 1 */
height: 0; /* 1 */
overflow: visible; /* 2 */
}
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
a {
   background-color: transparent;
}
abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
    font-size: 80%;
  }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
img {
    border-style: none;
  }
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
} 
button,
input {
  overflow: visible;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button {
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    border : none;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}
textarea {
    overflow: auto;
}
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }
details {
  display: block;
}
/*Style starts*/

/*Message Header Styles*/
.header-container {
    background: #D7E2E8;
    width: 100%;
    height: 80px;
}
.home-button {
    margin: 12px 42px 12px 20px;
}
span.header-name {
    display: inline-block;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 26px;
    color: #323232;
    line-height: 80px;
    position: absolute;
}

/*Message Home Styles*/
.welcome-text-wrap {
    width: 390px;
    height: 75px;
    padding-top : 44px;
    padding-bottom : 74px;
}
.welcome-text {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight : normal;
    margin-block : 0;
    font-size: 26px;
    margin-top: 8px;
    width: 390px;
}
.mail-button {
    width: 390px;
}
.mail-button>img {
    margin : 0 auto;
}
.makesomeonesday {
    margin-top: 66px;
}
.makesomeonesday>span {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: #323232;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-align: center;
    width: 390px;
    display: inline-block;
}

/*Message Compose Styles*/

.message-inst {
  width: 280px;
  font-family: 'Inconsolata', monospace;
  font-weight: lighter;
  line-height: 22px;
  font-size: 20px;
  text-align: center;
  margin: 30px auto;
  color: #323232;
}
.message-container{
  width: 321px;
  height: 312px;
  position: relative;
  margin: 0 auto;
  border: 1px dashed #323232;
  border-bottom: 0;
  border-spacing: 8px;
}
.message-container>textarea {
  border : 0;
  width: 300px;
  height: 290px;
  border: none;
  outline: none;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-150px,-145px);
  padding: 0;
  background-color: #f8f8f8;
  color: #323232;
  font-family: 'Inconsolata', monospace;
  line-height: 26px;
  font-size: 20px;
}
.send-container {
  height : 116px;
  width:321px;
  margin:0 auto;
  border: 1px dashed #323232;
}
.message-full-wrap {
  background-color: #f8f8f8;
  width:321px;
  margin: 0 auto;
}
.send-container>div>span {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  line-height: 32px;
  margin-top: 6px;
  color : #323232;
}
.send-container>div>input {
  width:26px;
  height:26px;
  margin: 9px 0px 3px 18px;
  padding: 0;
  border: 1.5px solid #323232;
  display: inline-block;
  vertical-align: middle;
}
.send-container>div {
  height: 38px;
  width: 321px;
  display: flex;
  margin: auto;
  justify-content: center;
}
.send-button {
  font-family: 'Inconsolata', monospace;
  font-weight: lighter;
  border: 1px solid #646261;
  background : #cfe3e2;
  width: 120px;
  height: 34px;
  font-size: 24px;
  border-radius: 12px;
  margin-top: 22px;
  position: absolute;
  left:50%;
  transform: translateX(-60px);
}
.back-button {
  color: #ffffff;
  background-color: #B9CBD9;
  width: 162px;
  height: 44px;
  border-radius: 10px;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
  font-size: 24px;
  margin: 128px auto 0px;
  display: block;
  margin-bottom: 50px;
}
.message {
  height: 50px;
  position: relative;
  margin: 0 0 0 -40px;
  border: 1px solid #323232;
  text-decoration: none;
  list-style-type: none;
  padding: 15px 7px;
}
.message>a {
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  color: #323232;
}
.message-border{
  width: 321px;
  height: 312px;
  position: relative;
  margin: 50px auto;
  border: 1px dashed #323232;
  background-color: #B9CBD9;
  padding: 50px 25px;
  font-family: 'Inconsolata', monospace;
  line-height: 26px;
  font-size: 20px;
}